<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iman.reserve.hotel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CityActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HotelActivity"
            android:parentActivityName=".activity.CityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReserveActivity"
            android:label="@string/title_activity_reserve"
            android:parentActivityName=".activity.HotelActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iman.reserve.hotel.activity.HotelActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Actionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MyReservesActivity"
            android:label="@string/title_activity_my_reserves"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.FavActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>